body {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 16px;  
}
#main {
  width: 960px;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 1em;
}
#header {
  float: right;
  clear: both;
}
#user {
  float: left;
  margin-right: 1em;
}
#logout {
  float: left;
}
#warn {
  padding: 1em;
  border: 1px solid red;
  background: #fdd;
  color: red;
}
